{% extends "capbase.html" %}
{% block content %}
<div class="jumbotron">
  <br>
  <br>
    <h3>List of the corresponding values for the work week period:</h3>
    <h5>*Use ctr+f to search for desired period*</h5>
    {% for record in WeekConversionList  %}
    <p>------------------------------------------------------ </p>
    <li>Week: {{record.week}}</li>
    <li>Year ID: {{record.year_id}}</li>
    <li>Quarter: {{record.quarter}}</li>
    <li>This week begins on: {{record.date_start_corresponding}}</li>
{% endfor %}
</div>
{% endblock %}